<div class="row-marketing">
    <div class="col-md-12">
        <div class="panel panel-default panel-primary" ng-hide="selectedChannel">
            <div class="panel-heading">
            <h3 class="panel-title">Join Chat</h3>
            </div>
            <form class="panel-body ng-pristine ng-valid" ng-submit="joinChat()">
                <label>
                    Username
                </label>
                 <input type="text" id="inputUsername" class="input-lg form-control ng-pristine ng-valid" 
                 maxlength="20" ng-model="data.username" size="20" required autofocus>
                 <br>
                 <label>
                    City
                </label>
                <input type="text" id="inputCity" class="input-lg form-control ng-pristine ng-valid" 
                 maxlength="20" ng-model="data.city" size="20" required>
                <br>
                <input class="btn btn-block btn-primary" type="submit" value="Join">
            </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
